<section id="blog" class="row my-5 mx-auto container">
    <div class="col-12 col-lg-8 offset-lg-1">
        {{#each artigos}}
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-12 col-md-4 d-flex align-items-center" >
                    <img src="{{this.imagem}}" alt="imagem ilustrativa" class="img-fluid card-img-top">
                </div>
                <div class="col-md-8 ">
                    <div class="card-body">
                        <h1 class="card-title text-success h3 mb-0">{{this.titulo}}</h1>
                        <p class="mb-1 text-muted">{{this.data}}</p>
                        <div class="card-text reticencias">{{{this.conteudo}}}</div><br>
                        <a href="/blog/artigo?id={{this.id}}" class="btn btn-primary">Continue lendo</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="arquivos d-none d-lg-block col-lg-2 offset-lg-1">
        <aside>
            <h4 class="fst-italic">Arquivos</h4>
            <ol class="list-unstyled mb-0">
                <li><a href="/blog">Todos os artigos</a></li>
                {{#each listaData }}
                <li><a href="/blog?mes={{this.mes}}&ano={{this.ano}}">
                {{ getMes this.mes }} {{this.ano}}</a></li>                
                {{/each}}                
            </ol>
        </aside>
    </div>

</section>

