<section>
    <div class="container">
        
        <div>
            <h1>Conheça nossos parceiros!</h1>
            <p class="p-size">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed laoreet lacus. Ut mollis risus ut orci
                commodo volutpat sed quis tellus. Vivamus accumsan ipsum a est tempus ultrices. Phasellus tincidunt
                vulputate dignissim. Donec consectetur venenatis tempus. Aenean ut molestie dolor, ac dignissim
                massa.Praesent ac semper elit, eget tempus enim. Aenean dictum sagittis orci.</p>
        </div>        

        <div>
            <div class="table-responsive py-5">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Email</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Endereço</th>
                            <th scope="col">Website</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each parceiros}}
                        <tr>
                            <th scope="row">{{this.nome}}</th>
                            <td>{{this.email}}</td>
                            <td>{{this.telefone}}</td>
                            <td>{{this.endereco}}</td>
                            <td>{{this.website}}</td>
                        </tr>
                        {{/each}}                        
                    </tbody>
                </table>
            </div>            
        </div>
    
    </div>
</section>